<div class="card">
  <div class="container">
    <form (ngSubmit)="submit()" [formGroup]="form">
      <div class="flex flex-column gap-2">
        <label for="firstname">First Name</label>
        <input
          pInputText
          id="firstname"
          aria-describedby="firstname-help"
          formControlName="firstName"
        />
      </div>
      <div class="flex flex-column gap-2">
        <label for="lastname">Last Name</label>
        <input
          pInputText
          id="lastname"
          aria-describedby="lastname-help"
          formControlName="lastName"
        />
      </div>
      <div class="flex flex-column gap-2">
        <label for="email">Email</label>
        <input
        type="email"
          pInputText
          id="email"
          aria-describedby="email-help"
          formControlName="email"
        />
      </div>
      <div class="flex flex-column gap-2">
        <label for="phone">Phone Number</label>
        <input
          pInputText
          id="phone"
          aria-describedby="phone-help"
          formControlName="phoneNumber"
        />
      </div>
      <div class="flex flex-column gap-2">
        <label for="password">Password</label>
        <p-password
          formControlName="password"
          id="password"
          [toggleMask]="true"
        ></p-password>
      </div>
      <div class="flex flex-column gap-2">
        <label for="confirmPassword">Confirm Password</label>
        <p-password
          [feedback]="false"
          formControlName="confirmPassword"
          id="confirmPassword"
          [toggleMask]="true"
        ></p-password>
      </div>
      <div *ngIf="isMatch" class="text-red-500">Passwords do not match</div>
      <div class="flex flex-column gap-2">
        <button
          pButton
          type="submit"
          label="Submit"
          [disabled]="!form.valid"
        ></button>
      </div>
    </form>
  </div>
</div>
