<div class="card">
    <div class="container">
      <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
      <form (ngSubmit)="submit()" [formGroup]="form">
        <div class="flex flex-column gap-2">
          <label for="cityName">Category Name</label>
          <input
            pInputText
            id="cityName"
            aria-describedby="cityName-help"
            formControlName="name"
          />
        </div>
        <div class="flex flex-column gap-2">
          <label for="description">discription</label>
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            [autoResize]="true"
            formControlName="description"
          ></textarea>
        </div>
        <div class="flex flex-column gap-2">
          <label for="category">Image URL</label>
          <input
            pInputText
            id="imageUrl"
            aria-describedby="imageUrl-help"
            formControlName="imageLink"
          />
        </div>
        <div class="flex flex-column gap-2">
          <label for="category">City</label>
          <p-dropdown
            formControlName="cityId"
            [options]="cities"
            optionLabel="name"
            placeholder="Select a City"
          ></p-dropdown>
        </div>
        <div class="flex flex-column gap-2">
            <label for="category">Category</label>
            <p-dropdown
              formControlName="categoryId"
              [options]="Categories"
              optionLabel="name"
              placeholder="Select a Category"
            ></p-dropdown>
          </div>
    
        <div class="flex flex-column gap-2">
          <button
            pButton
            type="submit"
            label="Submit"
            [disabled]="!form.valid"
          ></button>
        </div>
      </form>
    </div>
  </div>
  